figure.highlight {
    table {
        border-collapse: collapse;
        tbody {
            .gutter {
                background-color: #f7f7f7;
                width: 2%;
            }
            display: block;
        }
        tbody, tr, td.code {
            width: 100%;
            right: 0;
        }
    }
}